<head>
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <link rel="stylesheet" type="text/css" href="/css/partial/gpt.css">
</head>


<section class="post">
    <div class="sidebar">
        <%- partial('_partial/sidebar') %>
    </div>
    <div>   
        <%- partial('_partial/mathjax', null, {cache: true}) %> <!-- 引用 MathJax -->
    </div>
    <div class="post-content">
        <h1> <%- page.title %> </h1>
        <% 
            const date = new Date(page.date);
            const formattedDate = `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`;
        %>
        <p class="post-meta">
            <% if (page.author) { %>
                <span class="post-AuthorDate">作者: <%= page.author %>  |</span>
            <% } %>
                <span class="post-AuthorDate">日期: <%= formattedDate %></span>
        </p>
        <%- page.content %>
    </div>
</section>
