---
const honors = [
  {
    event: "百团大模型挑战成功名单",
    date: "2024年11月",
    awards: [
      {name: "好吃的哈奇"},
      {name: "星星"},
      {name: "xk"},
      {name: "煮糊的鱼"},
      {name: "小黄"},
      {name: "何向军"},
      {name: "邹环宇"},
      {name: "张家子谦"},
    ]
  },
  {
    event: "第一次教学例会MLP通关名单",
    date: "2024年10月",
    awards: [
      {name: "onimai"},
      {name: "zcz"},
      {name: "chatgpt"},
      {name: "LNR"},
      {name: "xk_mlp"},
      {name: "张逸泽"},
      {name: "Diana"},
      {name: "mengqingjia"},
      {name: "panzk"},
      {name: "yanyan5201314"},
      {name: "zhaojiye"},
      {name: "陈旭枫"},
      {name: "eyfj111"},
      {name: "MLP"},
      {name: "sawr_alice"},
      {name: "yjwl"},
      {name: "亚麻"},
      
    ]
  },
  
  
];
---

<section class="py-20 md:py-32 relative">
  <div class="absolute inset-0 overflow-hidden">
    <div class="absolute top-1/4 left-1/3 w-64 h-64 bg-[#40B3FF] opacity-10 blur-3xl"></div>
    <div class="absolute bottom-1/4 right-1/3 w-64 h-64 bg-[#954CE9] opacity-10 blur-3xl"></div>
  </div>
  <div class="container mx-auto px-4 relative z-10">
    <h1 class="text-4xl md:text-5xl font-bold text-center mb-12">
      <span class="bg-gradient-to-r from-[#40B3FF] to-[#954CE9] bg-clip-text text-transparent">
        荣誉墙
      </span>
    </h1>
    <p class="text-center text-xl mb-16 dark:text-gray-300 text-gray-600">
      纪念在例会中现场通关的同学们 ~
    </p>
    <div class="space-y-16">
      {honors.map((honor) => (
        <div class="glass-card p-8 transition-all duration-300">
          <h2 class="text-2xl font-semibold mb-4 bg-gradient-to-r from-[#40B3FF] to-[#954CE9] bg-clip-text text-transparent">
            {honor.event}
          </h2>
          <p class="text-lg mb-6 dark:text-gray-400 text-gray-500">{honor.date}</p>
          <div class="grid  grid-cols-2 md:grid-cols-4 gap-6 ">
            {honor.awards.map((award) => (
              // <div class="flex items-center space-x-4">
              //   <div class="w-12 h-12 rounded-full bg-gradient-to-r from-[#40B3FF] to-[#954CE9] flex items-center justify-center text-white font-bold text-lg">
              //     {award.name[0]}
              //   </div>
              //   <div>
              //     <p class="font-semibold dark:text-white text-gray-800">{award.name}</p>
              //     <p class="dark:text-gray-300 text-gray-600">{award.award}</p>
              //   </div>
              // </div>
              <div class="flex items-center space-x-4">
                <p class="dark:text-gray-300 text-gray-600">{award.name}</p>
              </div>
              
            ))}
          </div>
        </div>
      ))}
    </div>
  </div>
</section>


<style>
  .glass-card:hover {
    border: 2px solid #40B3FF;
  }
</style>